 .App {
  text-align: center;
  background-color: black;
  overflow-y: scroll;
  height: 100vh;
 width: 100vw;
}
.Play{
 background-color: black;
 height: 100vh;
 width: 100vw;
 overflow-y: scroll;
 position: absolute;
}

.square{
  background-color: white; 
}



.Menu{
  position:absolute;
  background-color: purple;
  height: 100vh;
  width: 100vw;
  z-index: 12;
  overflow: hidden;
}

.Start{
  position: absolute;
  background-color: silver;
  border-color: greenyellow;
  border-style: solid;
  border-radius: 7px;
  height: 100px;
  width: 300px;
  top: 250px;
  left: 500px;
  color: greenyellow;
  font-family: monospace;
  font-weight: bold;
  font-size: 90px;
  text-align: center;
  z-index: 11;
}


#user{
  border-radius: 10px;
  border-color:yellow;
  width:250px;
  height:50px;
  border: 10px solid yellow;
  z-index: 7;
  font-weight: bold;
  color:purple;
  font-size: 45px;
  background-color: black;
}

#submitbox{
  border: 5px solid purple;
  border-radius: 4px;
  color: green;
  font-size: 18px;
  font-weight: 900;
  width: auto;
  margin-left: 165px;
}

.green:hover{
  background-color: greenyellow;
  height: 40px;
  width: 40px;
}

.green{
  background-color: white;
  height: 40px;
  width: 40px;
}

.finish{
  background-color: transparent;
  height: 40px;
  width: 520px;
  border-radius: 5px;
  border-color: purple;
  border-style: solid;
  border-width: 5px;
}

.greenfinish:hover{
  background-color: greenyellow;
}

.greenfinish{
  background-color: transparent;
  height: 40px;
  width: 520px;
  border-radius: 5px;
  border-color: purple;
  border-style: solid;
  border-width: 5px;
}


.clear{
  background-color: transparent;
  height: 40px;
  width: 40px;
}



