.Menu{
    background-color: black;
    height: 100vh;
    z-index: 10;
  }
  
  .Start{
    position: absolute;
    background-color: silver;
    border-color: greenyellow;
    border-style: solid;
    border-radius: 7px;
    height: 100px;
    width: 300px;
    top: 250px;
    left: 500px;
    color: greenyellow;
    font-family: monospace;
    font-weight: bold;
    font-size: 90px;
    text-align: center;
    z-index: 10;
  }
  